fastapi==0.110.0
uvicorn==0.27.1
sqlmodel==0.0.16
python-dotenv==1.0.1
pydantic==2.6.4
pydantic-settings==2.2.1
numpy==1.26.4
chromadb==0.4.24
sentence-transformers==2.5.1
google-generativeai==0.4.1
tavily-python==0.3.3
pypdf2==3.0.1
python-pptx==0.6.23
pytesseract==0.3.10
Pillow==10.2.0
langchain-text-splitters==0.0.1